<div class="col-xs-12 col-sm-10 col-md-6 col-lg-6 statistics">

    <input id="a1" type="radio" name="browser" value="userReq" ng-model="listUserReq" ng-click="showSearchList(listUserReq)" ng-checked="checked1">
    <label for="a1">
        <div class="icon radio-icon">
        </div>Запросившие тест
    </label>

    <input id="a2" type="radio" name="browser" value="teacherReq" ng-model="listforTchAssign" ng-click="showSearchList(listforTchAssign)" ng-checked="checked2">
    <label for="a2">
        <div class="icon radio-icon">
        </div>Для назначения на проверку
    </label>

    <input id="a3" type="radio" name="browser" value="finishTest" ng-model="finishList" ng-click="showSearchList(finishList)" ng-checked="checked3">
        <label for="a3">
        <div class="icon radio-icon">
        </div>Закончившие тест
    </label>

    <input id="a4" type="radio" name="browser" value="free" ng-model="freeList" ng-click="showSearchList(freeList)" ng-checked="checked4">
    <label for="a4">
        <div class="icon radio-icon">
        </div>свободные
    </label>
    <br>

    <img class="img-stat" src="assets/images/icons/statistic.png">

    <input type="text" class="form-control input-admin" placeholder="Search for name or for email..." ng-model="searching" ng-change="searchUser()">

    <ul class="listOfSearch card" ng-show="searchList.length > 0">

        <li ng-repeat="item in searchList" ng-click="showInfo(item)">
            <a>{{item.fullName}}</em></a>
            <p><em>({{item.email}})</em></p>
        </li>
    </ul>
</div>
<div class="col-xs-12 col-sm-10 col-md-6 col-lg-6 showUserInfo" ng-show="showUInfo == true">
    <h1>{{choosenUser.fullName}}</h1>
    <input type="text" size="40" ng-model="role" ng-value="'Role: ' +  choosenUser.role" class="disable" disabled>
    <input type="text" size="40" ng-model="status" ng-if="choosenUser.role == 'user'" ng-value="'Status: ' + choosenUser.status" class="disable" disabled>
    <input type="text" size="40" ng-model="mail" ng-value="'E-mail: ' + choosenUser.mail" class="disable" disabled>
    <input type="text" size="40" ng-model="tel" ng-value="'Phone number: ' + choosenUser.tel" class="disable" disabled>
    <input type="text" size="40" ng-model="assignTest" ng-if="choosenUser.role == 'teacher'" ng-value="'Count of assign tests: ' + choosenUser.assignTest" class="disable" disabled>
    <input type="text" size="40" ng-model="totalTest" ng-if="choosenUser.role == 'teacher'" ng-value="'Count of total tests: ' + choosenUser.totalTests" class="disable" disabled>

    <div class="wrapperShedule card"  ng-if="choosenUser.role == 'user' || choosenUser.role == 'guest'">
        <div ng-if="myData.length && loaded">

            <div class="namesOfShedule">
                <ul>
                    <li class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-repeat="level in levels"><span>{{level.name}}</span></li>
                </ul>
            </div>
            <br>


            <div>
                <hr>
            </div>
            <div class="graphicWrapper">
                <div class="row">
                    <bars-chart chart-data="myData" class="col-xs-10 col-sm-10 col col-md-10 col-lg-10"></bars-chart>
                    <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-repeat="item in testData track by $index">{{item}}</span>
                </div>
            </div>
        </div>
        <div ng-if="!myData.length">
            <h3>This person hasn't passed the test yet.</h3>
        </div>
    </div>
</div>