<div class="contaoner-fluid">
	<div class="row">
		<div class="main-que col-xs-12 col-offset-sm-2 col-sm-10">
			<form>
				<label class="label-text-que">
					{{$index + 1}}. {{question.question}}
				</label>
				<ng-audio-recorder id='audioInput' audio-model='recordedInput'>
				  	<div ng-if="recorder.isAvailable" class="div-music-player">
					    <button ng-click="recorder.startRecord()" type="button" ng-disabled="recorder.status.isRecording" class="btn-user btn-music btn-music-start-record"></button>
					    <button ng-click="recorder.stopRecord()" type="button" ng-disabled="recorder.status.isRecording === false" class="btn-user btn-music btn-music-stop"></button>
					    <button ng-click="recorder.playbackResume()" type="button" ng-disabled="recorder.status.isRecording || !recorder.audioModel" class="btn-user btn-music btn-music-play">	 </button>
					    <button ng-click="recorder.playbackPause()" type="button" ng-disabled="recorder.status.isRecording || !recorder.audioModel" class="btn-user btn-music btn-music-pause"> </button>
 				  	</div>

				  <div ng-if="!recorder.isAvailable">
				    Message for users when recording is not possible.
				  </div>
				  <button id="save" ng-click="save(currentPage)" class="btn-user" ng-disabled="recorder.status.isRecording === true">Save answer</button>
    			<label for="save" class="label-text-que">{{success}}</label>
				</ng-audio-recorder>
			</form>
		</div>
	</div>
</div>