<div class="container" ng-controller="userHomeController">
    <div class="row">
        <div class="welcome-all col-xs-12 col-sm-12 col-md-offset-1 col-md-11 col-lg-offset-1 col-lg-11">
            <div class="welcome-name">
                Здравствуйте, {{firstName}} {{lastName}}
            </div>
            <div class="welcome">
                <!--Welcome to English Tester-->
                Приветсвуем в системе тесирования
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card card-user-home col-xs-12 col-sm-12 col-md-10 col-lg-offset-1 col-lg-8">
            <div class="start col-xs-12 col-sm-4 col-md-4 col-lg-3">
                <button class="btn-user btn-start-smile" ng-click="onStartTest()" ui-sref="passTest" ng-disabled="!openNow"></button>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
                <div ng-if="!disStart" class="info-about-button">
                    Вы можете начать прохождение теста.<br> С: <span class="date-color-user">{{dateStart}}</span><br>По: <span class="date-color-user">{{dateEnd}}<br></span>
                    У вас 2 час на это.
                </div>
                <div ng-if="disStart" class="info-about-button">
                	К сожалению вы не можете начат прохождени теса, так как он вам не назначен. 
                </div>
            </div>
            <div class="row" ng-if="openNow">
                <div class="col-xs-offset-10 col-xs-2 col-sm-offset-11 col-sm-1">
                    <button class="btn-user btn-start" ng-click="onStartTest()" ui-sref="passTest">Начать</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card card-user-home col-xs-12 col-sm-12 col-md-10 col-lg-offset-1 col-lg-8">
            <div class="start col-xs-12 col-sm-4 col-md-4 col-lg-3">
                <button class="btn-user btn-req-smile" ng-click="onSendRequest()" ng-disabled="disReq"></button>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
                <div ng-if="!disReq" class="info-about-button">
                    Вы можете отправитьзапро на прохождение теста. <br>Как тольк тес будет назначен вам на почту придёт уведомление.
                </div>
                <div ng-if="disReq" class="info-about-button">
                    Вы не можете отправить запро на прохождени теса,так как вы уже его отправили или у вас уже есть открытый тест.
                </div>
            </div>
            <div class="row" ng-if="!disReq">
                <div class="col-xs-offset-10 col-xs-2 col-sm-offset-11 col-sm-1">
                    <button class="btn-user btn-start" ng-click="onSendRequest()">Отправить</button>
                </div>
            </div>
        </div>
    </div>
</div>

