.btn-start-smile, .btn-req-smile {
	width: 180px;
    height: 180px;
    display: block;
    margin: auto;
	background-image: url("../../../assets/images/happy.png");
    background-size: cover;
    border-radius: 90px;
    vertical-align: middle;
}

.btn-start-smile:hover, .btn-req-smile:hover {
	box-shadow: 0 0 5px rgba(0,0,0,.12),0 0 20px rgba(0,0,0,.24);
}

.btn-start-smile:disabled, .btn-req-smile:disabled {
	box-shadow: none;
	background-image: url("../../../assets/images/sad.png");
	cursor: default;
	background-color: inherit;
	/*background-color: rgba(255, 255, 255, 0);*/
}

.statistic {
	margin-top: 40px;
}
.info-about-button {
	width: 100%;
    display: block;
	vertical-align: middle;
	/*margin-right: 10px;
    margin-left: 10px;
    margin-top: 50px;*/
    font-size: 2.3em;
    font-family: 'Pavanam', sans-serif;
}

.card-user-home  {
	padding: 15px;
    margin-bottom: 20px;
}

.card-user-home .btn-start {
	display: none;
}

.card-user-home:hover .btn-start {
	display: block;
	float: right;
}

.date-color-user {
	color: rgb(91, 212, 145);
}

.welcome-all {
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-top: -20px;
	font-family: 'Montserrat', sans-serif;

}

.welcome-name {
	margin-bottom: 10px;
	font-size: 2.7em;
}

.welcome {
	margin-bottom: 10px;
	font-size: 3.3em;
}

@media (max-width: 1000px) {
	.info-about-button {
		width: 100%;
		display: block;
    	font-size: 2em;
	} 
}

@media (max-width: 767px) {
	.info-about-button {
    	margin-top: 10px;
    	font-size: 20px;
	} 
	div > .info-about-button {
		text-align: center;
	}

	.btn-start-smile, .btn-req-smile {
		width: 120px;
    	height: 120px;
    	margin-top: 10px;
    	margin-bottom: 10px;
	}
}

@media (max-device-width: 1024px) {
	.card-user-home .btn-start {
		display: block;
		float: right;
	}
}

@media(max-width: 710px) {
	.welcome-name {
	font-size: 2.2em;
}
	.welcome {
		font-size: 2.6em;
	}
}

@media (max-width: 550px) {
	.welcome-name {
		font-size: 1.6em;
	}
	.welcome {
		font-size: 2em;
	}

}

@media (max-width: 440px) {
	.welcome {
		font-size: 1.8em;
	}

}
@media (max-width: 390px) {
	.welcome {
		font-size: 2.5em;
	}
}


