<div class="container-fluid add-question">
	<div class="row-fluid">
		<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
            <div><img class="img-new-user" src="assets/images/icons/chooseType.png"></div>
			<h3 class="h3-block">Choose type of question </h3>
            <select class="form-control input-admin input-option" ng-model="selectedQue" ng-change="changeQue(selectedQue)">
                <option ng-repeat="que in typeOfQuestion" ng-value="que.type">{{que.text}}</option>
            </select>
		</div>
		<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">


			<div ng-if="selectedQue === typeOfQuestion[0].type">
				<form name="main"> 
					<div>
						<p class="ads">Text of question</p>
						<textarea class="textarea-admin" id="qtextarea" placeholder="Write here.." ng-model="finalQue.question" required></textarea>
					</div>
					<p class="ads">Add answer options</p>
					<a class="icon plus-option" ng-click="addAnswerItem()"></a>
          <a class="icon remove-option" ng-click="removeAnswerItem()"></a>
          <div ng-repeat="smth in finalQue.options track by $index">
        		<input id="{{$index}}"  type="radio" name="answer" ng-value="$index" ng-model="finalQue.answers[0]">
              <label for="{{$index}}" class=" icon-block main-label">
                <div class="icon radio-icon"></div>
              </label>
      			<input type="text" class="input-admin input-option" ng-model="finalQue.options[$index]" placeholder="Write option here" required>
      		</div>
          <p class="ads">Level of question</p>
          <input type="text" class="input-admin input-option" ng-model="finalQue.level" ng-pattern="'[1-5]{1}'" placeholder="From 1 to 5" required>
      		<button class="btn-admin btn-submit-que"  ng-disabled="main.$invalid|| finalQue.answers[0] === -1" ng-click="sendQue()">Submit</button>
      	</form>
    	</div>

    		<div ng-if="selectedQue === typeOfQuestion[1].type">
				  <form name="main"> 
  					<div>
  						<p class="ads">Text of question</p>
  						<textarea class="textarea-admin" placeholder="Write here.." ng-model="finalQue.question" required></textarea>
  					</div>
  					<p class="ads">Add answer options</p>
  					<a class="icon plus-option" ng-click="addAnswerItem()"></a>
            <a class="icon remove-option" ng-click="removeAnswerItem()"></a>
            <div ng-repeat="smth in finalQue.options track by $index">
        			<input id="{{$index}}" type="checkbox" name="answer" ng-value="$index" ng-model="finalQue.answers[$index]">
                <label for="{{$index}}" class=" icon-block main-label">
                  <div class="icon checkbox-icon"></div>
                </label>
      				<input type="text" class="input-admin input-option" ng-model="finalQue.options[$index]" placeholder="Write option here" required> 
        		</div>
            <p class="ads">Level of question</p>
            <input type="text" class="input-admin input-option" ng-model="finalQue.level" ng-pattern="'[1-5]{1}'" placeholder="From 1 to 5"  required>
        		<button class="btn-admin btn-submit-que" ng-disabled="main.$invalid || !someCheckbox()" ng-click="sendQue()">Submit</button>
          </form>
    		</div>

    		<div ng-if="selectedQue === typeOfQuestion[2].type">
  				<form name="main"> 
  					<div>
  						<p class="ads">Text of question</p>
  						<textarea class="textarea-admin" placeholder="Write here.." ng-model="finalQue.question" required></textarea>
  					</div>
            <p class="ads">Level of question</p>
            <input type="text" class="input-admin input-option" ng-model="finalQue.level" ng-pattern="'[1-5]{1}'" placeholder="From 1 to 5"  required>
        		<button class="btn-admin btn-submit-que" ng-disabled="main.$invalid" ng-click="sendQue()">Submit</button>
        	</form>
    		</div>

    		<div ng-if="selectedQue === typeOfQuestion[3].type">
  				<form name="main"> 
  					<div>
  						<p class="ads">Topic for essay</p>
  						<textarea class="textarea-admin" class="sm-textarea" ng-model="finalQue.question" placeholder="Write here.." required></textarea>
  					</div>
            <p class="ads">Level of question</p>
            <input type="text" class="input-admin input-option" ng-model="finalQue.level" ng-pattern="'[1-5]{1}'" placeholder="From 1 to 5"  required>
        		<button class="btn-admin btn-submit-que" ng-disabled="main.$invalid" ng-click="sendQue()">Submit</button>
        	</form>
    		</div>

        <div ng-if="selectedQue === typeOfQuestion[4].type">

          <form name="upload" ng-submit="submit()"  class="form-file">
            <label for="btn-file" class="input-btn btn-admin">Choose file</label>
            <input type="file" fileread="vm.uploadme" id="btn-file" accept="audio/*">
            <input type="submit" value="Upload" class="input-btn btn-admin" ng-click="finishUp()">
            <div id="log">Process of upload</div>
          </form>
         <sound-manager>
            <button music-player="play" add-song="song" class="btn-admin btn-music btn-music-play" ng-click="startPlay()" ng-if="!isPlayingMy && song.url"></button>
            <button play-music class="btn-admin btn-music btn-music-play" ng-if="isPlayingMy && song.url"></button>          
            <button pause-music class="btn-admin btn-music btn-music-pause" ng-if="song.url"></button>
            <button stop-music class="btn-admin btn-music btn-music-stop" ng-if="song.url"></button>
            <div class="seekBase seekBase-user" ng-if="song.url" seek-track>
                  <div class="seekLoad seekLoad-admin" ng-style="{width : ( progress + '%' ) }"></div>
                </div>
          </sound-manager>

          <form name="main">
            <div>
            </div>
            <p class="ads">Level of question</p>
            <input type="text" class="input-admin input-option" ng-model="finalQue.level" ng-pattern="'[1-5]{1}'" placeholder="From 1 to 5"  required>
            <button class="btn-admin btn-submit-que" ng-disabled="main.$invalid || finalQue.question === ''" ng-click="sendQue()">Submit</button>
          </form>
        </div>

        <div ng-if="selectedQue === typeOfQuestion[5].type">

        <form name="upload" ng-submit="submit()" class="form-file">
          <label for="btn-file" class="input-btn btn-admin">Choose file</label>
          <input type="file" fileread="vm.uploadme" id="btn-file" accept="audio/*">
          <input type="submit" value="Upload" class="input-btn btn-admin" ng-click="finishUp()">
          <div id="log">Process of upload</div>
        </form>

        <sound-manager>
            <button music-player="play" add-song="song" class="btn-admin btn-music btn-music-play" ng-click="startPlay()" ng-if="!isPlayingMy && song.url"></button>
            <button play-music class="btn-admin btn-music btn-music-play" ng-if="isPlayingMy && song.url"></button>          
            <button pause-music class="btn-admin btn-music btn-music-pause" ng-if="song.url"></button>
            <button stop-music class="btn-admin btn-music btn-music-stop" ng-if="song.url"></button>
            <div class="seekBase seekBase-user" ng-if="song.url" seek-track>
                  <div class="seekLoad seekLoad-admin" ng-style="{width : ( progress + '%' ) }"></div>
                </div>
          </sound-manager>

        <form name="main">  
          <p class="ads">Add answer options</p>
          <a class="icon plus-option" ng-click="addAnswerItem()"></a>
          <a class="icon remove-option" ng-click="removeAnswerItem()"></a>

          <div ng-repeat="smth in finalQue.options track by $index">
            <input id="{{$index}}"  type="radio" name="answer" ng-value="$index" ng-model="finalQue.answers[0]">
              <label for="{{$index}}" class=" icon-block main-label">
                <div class="icon radio-icon"></div>
              </label>
            <input type="text" class="input-admin input-option" ng-model="finalQue.options[$index]" placeholder="Write option here" required> 
          </div>
          <p class="ads">Level of question</p>
          <input type="text" class="input-admin input-option" ng-model="finalQue.level" ng-pattern="'[1-5]{1}'" placeholder="From 1 to 5"  required>
          <button class="btn-admin btn-submit-que" ng-disabled="main.$invalid || finalQue.question === '' || finalQue.answers[0] === -1" ng-click="sendQue()" >Submit</input>

        </form>
      </div>

      <div ng-if="selectedQue === typeOfQuestion[6].type">

        <form name="upload" ng-submit="submit()" class="form-file">
          <label for="btn-file" class="input-btn btn-admin">Choose file</label>
          <input type="file" fileread="vm.uploadme" id="btn-file" accept="audio/*">
          <input type="submit" value="Upload" class="input-btn btn-admin" ng-click="finishUp()">
          <div id="log">Process of upload</div>
        </form>

        <sound-manager>
            <button music-player="play" add-song="song" class="btn-admin btn-music btn-music-play" ng-click="startPlay()" ng-if="!isPlayingMy && song.url"></button>
            <button play-music class="btn-admin btn-music btn-music-play" ng-if="isPlayingMy && song.url"></button>          
            <button pause-music class="btn-admin btn-music btn-music-pause" ng-if="song.url"></button>
            <button stop-music class="btn-admin btn-music btn-music-stop" ng-if="song.url"></button>
            <div class="seekBase seekBase-user" ng-if="song.url" seek-track>
                  <div class="seekLoad seekLoad-admin" ng-style="{width : ( progress + '%' ) }"></div>
                </div>
          </sound-manager>

        <form name="main">        
          <p class="ads">Add answer options</p>
          <a class="icon plus-option" ng-click="addAnswerItem()"></a>
          <a class="icon remove-option" ng-click="removeAnswerItem()"></a>
          <div ng-repeat="smth in finalQue.options track by $index">
            <input id="{{$index}}" type="checkbox" name="answer" ng-model="finalQue.answers[$index]">
              <label for="{{$index}}" class=" icon-block main-label">
                <div class="icon checkbox-icon"></div>
              </label>
            <input type="text" class="input-admin input-option" ng-model="finalQue.options[$index]" placeholder="Write option here" required> 
          </div>
          <p class="ads">Level of question</p>
          <input type="text" class="input-admin input-option" ng-model="finalQue.level" ng-pattern="'[1-5]{1}'" placeholder="From 1 to 5"  required>
          <button class="btn-admin btn-submit-que" ng-disabled="main.$invalid || finalQue.question === '' || !someCheckbox" ng-click="sendQue()">Submit</button>
        </form>
      </div>

      <div ng-if="selectedQue === typeOfQuestion[7].type">
        <form name="main">
          <div>
            <p class="ads">Topic for speak</p>
            <textarea class="textarea-admin" class="sm-textarea" ng-model="finalQue.question" placeholder="Write here.."></textarea>
          </div>
          <p class="ads">Level of question</p>
          <input type="text" class="input-admin input-option" ng-model="finalQue.level" ng-pattern="'[1-5]{1}'" placeholder="From 1 to 5"  required>
          <button class="btn-admin btn-submit-que" ng-disabled="main.$invalid" ng-click="sendQue()">Submit</button>
        </form>
      </div>

    		<!--sound-manager>
    			<button music-player add-song="song">+</button>
    			<div class="seekBase" seek-track>
    				<div class="seekLoad" ng-style="{width : ( progress + '%' ) }"></div>
				</div>ng-model="finalQue.options[$index]"
				<button play-pause-toggle data-play="Play!" data-pause="Pause!">Play Toggle</button>
				<button stop-music>Stop</button>

    		</sound-manager-->

		</div>
	</div>
</div>
