.error-mes {
    display: inline-block;        
    color: #c53535;
    font-size: 1.3em;
}

.dateTime {
    width: 100%;
    padding-right: 0;
}
.dateTime1 {
    margin-top: 5px;
}
.dateTime2 {
    margin-top: 43px;
    margin-bottom: 60px;
}

    .dateTime > div:first-child {
        margin-top: 33px;
    }

    .dateTime  div {
        padding: 0 !important;
    }

.time > table{
   float: right;
}

.chooseDateTime {
    width: 255px;
    position: inherit;
    left: 0;
    right: 0;
    margin: auto;
}

.formAddUser label {
    margin-top: 10px;
}

.img-date {
    padding: 0;
    width: 35px;
    height: 35px;
}

.img-new-user {
    width: 64px;
    display: block;
    margin: auto;
}

.h3-block {
    display: block;
}

@media (max-width: 767px) {
    .dateTime2 {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .newUserDate {
        margin-top: 20px;
    }
}




input {
  padding: 3px 5px;
  border: 1px solid gray;
  border-radius: 3px;
}

.list {
  list-style-type: none;
  margin: 0;
  opacity: 0;
  padding: 4px 7px;
  position: absolute;
  margin-left: -1000px;
  background: white;
  box-shadow: 1px 1px 6px rgb(195, 195, 195);
  border-radius: 2px;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.list li {
  padding: 3px 5px;
  cursor: pointer;
}

.list li:hover {
  background: lightgray;
}

.show .list { 
  margin-left: 0;
  opacity: 1;
}

.list li .amount {
  display: inline-block;
  padding: 2px 3px;
  background-color: rgb(83, 177, 211);
  border-radius: 3px;
  margin: 0 0 3px 10px;
  font-size: 65%;
  color: white;
}