<div class="container-fluid">
	<div class="row">
		<div class="main-que col-xs-12 col-offset-sm-2 col-sm-10">
			<form name="main" novalidate>
				<label class="label-text-que">
					{{$index + 1}}/{{totalCount}} {{question.question}}
				</label>
				<div class="div-check-answer">
					<sound-manager>
    				<div class="seekBase seekBase-teacher" seek-track>
      					<div class="seekLoad seekLoad-teacher" ng-style="{width : ( progress + '%' ) }"></div>
   					</div>
					<button music-player="play" add-song="forSong[$index]" class="btn-teacher btn-music btn-music-play" ng-click="startPlay()" ng-if="!isPlayingMy"></button>
					<button play-music class="btn-teacher btn-music btn-music-play" ng-if="isPlayingMy"></button>
					<button pause-music class="btn-teacher btn-music btn-music-pause"></button>
					<button stop-music class="btn-teacher btn-music btn-music-stop"></button>
    			</sound-manager>
				</div>
			
				<input type="text" focus="true" class="input-teacher" name="mark" ng-model="omg.tempMark" ng-change='onlineWriteValid(currentPage)' ng-pattern="'[0-9]{1,3}'" placeholder="Mark: 0 - 100" required>
				<span ng-show="main.mark.$dirty && !validMark(100)" class="error-mes">Wrong mark</span>
			</form>
		</div>
	</div>
</div>